<div class="container mx-auto p-6 ">
    <h1 class=" text-2xl mb-4 font-bold">Statistique</h1>
    <div class="grid grid-cols-3 gap-8">

        <div class="bg-white text-center shadow-md rounded-lg p-6 ">
            <h1 class="text-lg font-medium text-gray-700 ">Nombre d'Agents</h1>
            <p class="mt-2 text-xl text-gray-900 font-bold"><%= @agents_count %></p>
        </div>

        <div class="bg-white shadow-md rounded-lg text-center p-6 ">
            <h1 class="text-lg text-gray-700 font-medium">Nombre de Directions</h1>
            <p class="mt-2 text-xl font-bold text-gray-900"><%=@directions_count%></p>
        </div>

        <div class="bg-white rounded-lg shadow-md text-center p-6 ">
            <h1 class="text-lg text-gray-700 font-medium">Nombre de Contrats</h1>
            <p class="mt-2 text-xl text-gray-900 font-bold"><%= @contrats_count %></p>
        </div>

    </div>

</div>