<!-- <div class="w-full bg-indigo-600 text-white  p-4">

    <div class=" flex justify-center items-center">
      <a href="<%= root_path %>" class="block">
        <%= image_tag "site-internet.jpg", class: 'h-16 max-w-full transition-all duration-200 ease-in-out', alt: 'Main Logo' %>
      </a>
    </div>
  
    
    <h2 class="text-2xl font-semibold my-4 text-center">TABLEAU DE BORD</h2>
  
    
    <ul class="space-y-2">
      <li>
        <a href="/contrats" class="block py-1 px-2 bg-indigo-700 text-center rounded hover:bg-indigo-800 transition-colors duration-150">Contrat</a>
      </li>
      <li>
        <a href="/agents" class="block py-1 px-2 bg-indigo-700 text-center rounded hover:bg-indigo-800 transition-colors duration-150">Personnel</a>
      </li>
      <li>
        <a href="/directions" class="block py-1 px-2 bg-indigo-700 text-center rounded hover:bg-indigo-800 transition-colors duration-150">Direction</a>
      </li>
      <li>
        <a href="/maisons" class="block py-1 px-2 bg-indigo-700 text-center rounded hover:bg-indigo-800 transition-colors duration-150">Maison</a>
      </li>
    </ul>
  </div>
   -->

   <div class="w-full bg-indigo-600 text-white p-4 flex items-center justify-between">
  
    <div class="flex justify-center items-center">
      <a href="<%= root_path %>" class="block">
        <%= image_tag "site-internet.jpg", class: 'h-16 max-w-full transition-all duration-200 ease-in-out', alt: 'Main Logo' %>
      </a>
    </div>
  
   
  
    <ul class="flex space-x-8 text-black">
      <li>
        <a href="/contrats" class="block py-1 px-6 bg-gray-300 shadow-md  text-center rounded hover:text-white hover:bg-indigo-800 transition-colors duration-150">Contrat</a>
      </li>
      <li>
        <a href="/agents" class="block py-1 px-6 bg-gray-300 shadow-md text-center rounded hover:text-white hover:bg-indigo-800 transition-colors duration-150">Personnel</a>
      </li>
      <li>
        <a href="/directions" class="block py-1 px-6 bg-gray-300 text-center rounded hover:text-white hover:bg-indigo-800 transition-colors duration-150">Direction</a>
      </li>
      <li>
        <a href="/maisons" class="block py-1 px-6 bg-gray-300 text-center rounded hover:text-white hover:bg-indigo-800 transition-colors duration-150">Maison</a>
      </li>
    </ul>
  </div>
     